// After run project change this property to another color, save, reload page (preprocessor's working, WOW).
$bg-color: pink;

body {
    background: $bg-color;
    // View this property in result variant in console (postprocessor's working, WOW).
    display: flex;
}